{% extends "layout.html" %}

{% block main %}
<table class="table">
  <thead>
      <tr>
          <th class="text-start">Symbol</th>
          <th class="text-end">Shares</th>
          <th class="text-end">Price</th>
          <th class="text-end">Transacted</th>
      </tr>
  </thead>
  <tbody>

          <tr>
              <td class="text-start">PBR</td>
              <td class="text-end">22</td>
              <td class="text-end">$13.66</td>
              <td class="text-end">2022-08-21 00:49:42</td>
          </tr>

          <tr>
              <td class="text-start">PBR</td>
              <td class="text-end">3</td>
              <td class="text-end">$13.66</td>
              <td class="text-end">2022-08-21 14:07:12</td>
          </tr>

          <tr>
              <td class="text-start">BDORY</td>
              <td class="text-end">6</td>
              <td class="text-end">$7.91</td>
              <td class="text-end">2022-08-21 14:07:41</td>
          </tr>

          <tr>
              <td class="text-start">AAPL</td>
              <td class="text-end">3</td>
              <td class="text-end">$171.52</td>
              <td class="text-end">2022-08-21 14:07:51</td>
          </tr>

  </tbody>
</table>
{% endblock %}